/* loader-11: radar loader //https://codepen.io/iGadget/pen/aZmEGR */

/*
.loader-radar {
    --time: 1.0s;
    --cp1: #081E3F;
    --cp2: #083D56;
    --cp3: #0E5F76;
    --cp4: #19A6CF;

    width: 4em;
    height: 4em;
    top: 33%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid clr(cp, 3);
    z-index: 1;
    background-color: rgba(var(--cp2), .2);
    background-image:
        repeating-radial-gradient(
            clr(t) 0,
            clr(t) .39em,
            rgba(var(--cp2), .5) .45em,
            rgba(var(--cp2), .5) .5em);

    /* unnecessary efx * /
    #toggle:checked~#sect & {
        background-image:
            repeating-radial-gradient(clr(t) 0,
                clr(t) .39em,
                rgba(var(--cp2), .5) .45em,
                rgba(var(--cp2), .5) .5em),
            repeating-radial-gradient(clr(t) 0,
                clr(t) .39em,
                rgba(clr(s), .25) .45em,
                rgba(clr(s), .25) .5em);
        background-position: 0px 0px, 1px 1px;
        box-shadow:
            .25em .25em .25em rgba(clr(s), .25),
            inset .25em .25em .25em rgba(clr(s), .25);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
    }

    &:before {
        z-index: 0;
        width: 2.5em;
        height: 2em;
        top: 50%;
        left: 50%;
        transform-origin: left top;
        border-left: .1em solid clr(cp, 4);
        background-image: linear-gradient(to right, rgba(var(--cp2), .75) 0%, transparent 85%);
        /* box-shadow: inset 0 .25em .5em clr(cp, 1); * /
        animation: radar calc(var(--time)*2) infinite linear;
    }

    &:after {
        left: 62%;
        top: 34%;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: currentColor;
        animation:
            radarDotGlow calc(var(--time)*2) infinite linear,
            radarDotMove calc(var(--time)*15) infinite ease(impetus);
    }
}

@keyframes radar {
    to {
        transform: rotate(359deg);
    }
}

@keyframes radarDotGlow {
    0%,
    59.9%,
    87%,
    100% {
        color: rgba(clr(cp, 4), .33);
        box-shadow: 0 0 .1em .05em currentColor;
    }
    62% {
        color: rgba(clr(cp, 4), 1);
        box-shadow: 0 0 .1em .1em currentColor;
    }
}

@keyframes radarDotMove {
    0% {
        top: 0%;
        left: 85%;
    }
    40% {
        top: 30%;
        left: 70%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
}
*/




.loader-radar {
    width: 4em;
    height: 4em;
    top: 33%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #0E5F76;
    z-index: 1;
    background-color: rgba(8, 61, 86, 0.2);
    background-image: repeating-radial-gradient(transparent 0, transparent 0.39em, rgba(8, 61, 86, 0.5) 0.45em, rgba(8, 61, 86, 0.5) 0.5em);
}

#toggle:checked~#sect .loader-radar {
    background-image: repeating-radial-gradient(transparent 0, transparent 0.39em, rgba(8, 61, 86, 0.5) 0.45em, rgba(8, 61, 86, 0.5) 0.5em), repeating-radial-gradient(transparent 0, transparent 0.39em, rgba(0, 0, 0, 0.25) 0.45em, rgba(0, 0, 0, 0.25) 0.5em);
    background-position: 0px 0px, 1px 1px;
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25), inset 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.loader-radar:before,
.loader-radar:after {
    content: "";
    position: absolute;
    display: block;
}

.loader-radar:before {
    z-index: 0;
    width: 2.5em;
    height: 2em;
    top: 50%;
    left: 50%;
    transform-origin: left top;
    border-left: 0.1em solid #19A6CF;
    background-image: linear-gradient(to right, rgba(8, 61, 86, 0.75) 0%, transparent 85%);
    -webkit-animation: radar 2s infinite linear;
    animation: radar 2s infinite linear;
}

.loader-radar:after {
    left: 62%;
    top: 34%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: currentColor;
    -webkit-animation: radarDotGlow 2s infinite linear, radarDotMove 15s infinite cubic-bezier(0.5, -0.35, 0.5, 1.35);
    animation: radarDotGlow 2s infinite linear, radarDotMove 15s infinite cubic-bezier(0.5, -0.35, 0.5, 1.35);
}

@-webkit-keyframes radar {
    to {
        transform: rotate(359deg);
    }
}

@keyframes radar {
    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes radarDotGlow {

    0%,
    59.9%,
    87%,
    100% {
        color: rgba(25, 166, 207, 0.33);
        box-shadow: 0 0 0.1em 0.05em currentColor;
    }

    62% {
        color: #19a6cf;
        box-shadow: 0 0 0.1em 0.1em currentColor;
    }
}

@keyframes radarDotGlow {

    0%,
    59.9%,
    87%,
    100% {
        color: rgba(25, 166, 207, 0.33);
        box-shadow: 0 0 0.1em 0.05em currentColor;
    }

    62% {
        color: #19a6cf;
        box-shadow: 0 0 0.1em 0.1em currentColor;
    }
}

@-webkit-keyframes radarDotMove {
    0% {
        top: 0%;
        left: 85%;
    }

    40% {
        top: 30%;
        left: 70%;
    }

    100% {
        top: 50%;
        left: 50%;
    }
}

@keyframes radarDotMove {
    0% {
        top: 0%;
        left: 85%;
    }

    40% {
        top: 30%;
        left: 70%;
    }

    100% {
        top: 50%;
        left: 50%;
    }
}
